.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'


  案件の編集・削除ページ
  .form
  = form_with(model: [@proposition], local: true) do |f|
    .proposition-name
      = f.label :案件名：
      = f.text_field :name

    .description
      = f.label :内容：
      = f.text_area :description

    = f.submit "登録"

    %p
    = link_to "[案件削除]", proposition_path(@proposition.id), method: :delete

