.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'

  .proposition-edit-form
    %h2 案件編集ページ
    = form_with(model: [@proposition], local: true) do |f|
      .proposition-edit-form__name
        = f.label :案件名：
        = f.text_field :name

      .proposition-edit-form__description
        = f.label :内容：
        = f.text_area :description

      .proposition-edit-form__btn
        = f.submit "登録"
