.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'

  .proposition-details
    .proposition-details__title
      %h2 案件詳細
      %p 案件名：#{@proposition.name}
      %p 内容：#{@proposition.description}

      .proposition-details__title__links
        = link_to "[案件編集]", edit_proposition_path(@proposition.id)
        = link_to "[案件削除]", proposition_path(@proposition.id), method: :delete
        = link_to "[業務日報作成]", new_proposition_project_path(@proposition.id)

    .proposition-details__content
      %h2 業務日報一覧
      - if @proposition.projects.present?
        - @proposition.projects.each do |project|
          .projects-all
            = link_to "#{project.title}", proposition_project_path(@proposition.id, project.id)
            = project.phase
            %em 作成日時：#{project.created_at.strftime("%Y-%m-%d %H:%M ")}
            = link_to "[業務日報編集]", edit_proposition_project_path(@proposition.id, project.id)
            = link_to "[業務日報削除]", proposition_project_path(@proposition.id, project.id), method: :delete