.wrapper
  = render 'shared/header'

  = render 'shared/menu'

  = render 'shared/form'

  .groups-new
    .groups-new__title
      %h2 グループ作成

    .groups-new__form
      = form_with(model: @group, local: true) do |f|
        - if @group.errors.any?
          .groups-new__form__errors
            %h3= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
            %ul
              - @group.errors.each do |message|
                %li= message

        .groups-new__form__name
          = f.label :グループ名：
          = f.text_field :name

        .groups-new__form__content
          = f.label :内容：
          = f.text_area :content

        .groups-new__form__btn
          = f.submit "登録"

