.menu
  .menu__container
    .menu__container__label
      %ul
        %li
          = link_to "ホーム", root_path, class: 'menu-btn'
        %li
          = link_to "案件入力", new_proposition_path, class: 'menu-btn'
        %li
          = link_to "案件一覧", propositions_path, class: 'menu-btn'
        %li
          = link_to "業務日報入力", new_project_path, class: 'menu-btn'
        %li
          = link_to "フェーズ一覧", projects_path, class: 'menu-btn'
        %li
          = link_to "フォロワー一覧", root_path, class: 'menu-btn'
        %li
          = link_to "プロフィール", root_path, class: 'menu-btn'
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'menu-btn'
