.menu
  .menu__container
    .menu__container__label
      %ul
        %li
          = link_to "ホーム", root_path, class: 'menu-btn'
        %li
          = link_to "案件入力", new_proposition_path, class: 'menu-btn'
        %li
          = link_to "案件一覧", propositions_path, class: 'menu-btn'
        %li
          = link_to "フェーズ一覧", lists_path, class: 'menu-btn'
        %li
          = link_to "グループ作成", new_group_path, class: 'menu-btn'
        %li
          = link_to "グループ一覧", groups_path, class: 'menu-btn'
        %li
          = link_to "フォロワー一覧", root_path, class: 'menu-btn'
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'menu-btn'
