.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'

  .all-projects-list
    .all-projects-list__title
      %h3 業務日報編集

    .project-edit-form
    = form_with(model: [@proposition, @project], local: true) do |f|
      .project-edit-form__name
        = f.label :業務日報：
        = f.text_field :title

      .project-edit-form__phase
        = f.label :フェーズ：
        = f.select :phase, ["事前情報","社内検討","アプローチ","見積り提出","受注内定","受注決定","受注決定後"], {prompt: "---"}

      .project-edit-form__content
        = f.label :内容：
        = f.text_area :content

      .project-edit-form__btn
        = f.submit "登録"
