.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'

  .projects-list
    .projects-list__title
      %h2 業務日報

    .my-project-detail
      .my-project-detail__title
        %em 業務日報：
        = @project.title

      .my-project-detail__phase
        %em フェーズ：
        = @project.phase

      .my-project-detail__content
        %em 内容：
        = @project.content

      .my-project-detail__comment
      = form_with(model: @comment, local: true) do |f|
        = f.label :コメント：
        = f.text_field :comment
        = f.submit "コメントする"

      .my-project-detail__btn
        = link_to "編集", edit_proposition_project_path(@proposition.id, @project.id), class: 'edit-btn'
        = link_to "削除", proposition_project_path(@proposition.id, @project.id), method: :delete, class: 'delete-btn'


    - if @project.comments.present?
      .my-project-detail__others--comment
        %em コメント一覧：


